// Place all the styles related to the Parser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.名詞 { color: green;}
.助詞 { color: orange;}
.助動詞 { color: blue; }
.形容詞 { color: purple; }
.動詞 {color: gray; }
.連体詞 {color: pink; }
.副詞 {color: lime; }
